
body {
    background-color: #7D5C43;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.board {
    /* Using these dimensions because they are divisable by 7, which makes the board even */
    background: #A67B5B ;
    border: 8px solid #4B3621 ;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.470);
        /* The last value changes opacity. */
    height: 910px;
    margin: auto;
    position: center;
    width: 840px;

}

.circles {
    background: white;
    height: 90px;
    padding: 2rem  ;
    width: 90px;

}

.clear {
    color: #A67B5B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

} 

#h1 {
    color: #A67B5B;
}

#h2 {
    color: #A67B5B;

}

#player-turn {
    color: #A67B5B;

}