/* Global Scope */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0%;
}

body {
    background: #7D5C43;
        /* Sienna */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.board {
    background: #4B3621;
        /* Cafe Noir */
    border: 8px solid rgba(0, 0, 0, 0.130);
        /* The last value changes opacity. */
    border-radius: 5%;
        /* Curves outer board */
    box-shadow: 8px 8px rgba(0, 0, 0, 0.470);
        /* Adds a cool shadow effect */
        /* The last value changes opacity. */
    height: 875px;
    padding: 20px;
    position: fixed;
    top: 200px;
    transform: translate(15%);
    width: 840px;
}

.circle {
    background: #F0E3CE;
        /* Bleach White */
    border-radius: 50%;
        /* Curves inner board */
    height: 135px;
    width: 135px;
}

.clear {
    border: 3px solid #4B3621;
        /* Cafe Noir */
    bottom: -90px;
    color: #F0E3CE;
        /* Bleach White */
    cursor: pointer;
    height: 55px;
    left: 45%;
        /* Looks center */   
    padding: 0.6%;
        /* Tying to center the toggle, but can't get it perfect */
    position: absolute;
    text-align: center;
    width: 90px;
}

h1{
    text-align: center;
}
